<div class="c-section">
  <h1 class="c-title">Upload Your Book</h1>
</div>
<div class="c-section">
  <h4 class="c-title">
    <%= form_for Book.create do |f| %>
    Title: <%= f.text_field :title %><br><br>
    Author: <%= f.text_field :name %><br><br>
    Image: <%= f.file_field :image %><br><br>
    Content: <%= f.file_field :content %><br><br>
    <%= f.submit %>
    <% end %>
  </h4>
</div>
